<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Homepage</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!--Google font 
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> -->
	
    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href=<%= "/" %>>
                        FriSamf
                    </a>
                </li>
                <li>
                    <a href=<%= "pages/kap2" %>>Kap 2</a>
                </li>
                <li>
                    <a href=<%= "pages/kap3" %>>Kap 3</a>
                </li>
                <li>
                    <a href=<%= "pages/kap4" %>>kap 4</a>
                </li>
                <li>
                    <a href=<%= "pages/kap5" %>>Kap 5</a>
                </li>
                <li>
                    <a href=<%= "pages/kap6" %>>Kap 6</a>
                </li>
                <li>
                    <a href=<%= "pages/kap7" %>>Kap 7</a>
                </li>
                <li>
                    <a href=<%= "pages/kap8" %>>Kap 8</a>
                </li>
                <li>
                    <a href=<%= "pages/kap9" %>>Kap 9</a>
                </li>
                <li>
                    <a href=<%= "pages/kap10" %>>Kap 10</a>
                </li>
                <li>
                    <a href=<%= "pages/kap11" %>>Kap 11</a>
                </li>
                <li>
                    <a href=<%= "pages/kap12" %>>Kap 12</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Sammendrag fra alle kapitlene i boken 2015</h1>
                        <p>Til høyre kan du velge hvilke kapittel du ønsker å lese gjenneom, jeg har tatt med det alle mest nødvendige. Og dette skulle være nok å kunne for å få en god karakter på eksamen.</p>
                        
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
